In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

In [2]:
data = {
    'weight' : [2, 4, 5, 3, 6, 5, 7],
    'price' : [35, 60, 20, 50, 50, 55, 60]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

   weight  price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50

In [5]:
x = df['weight']
y = df['price']

In [6]:
#claculating mean
mean_x = np.mean(x)
mean_y = np.mean(y)

In [7]:
#calculating deviation
dev_x = x - mean_x
dev_y = y - mean_y

In [8]:
coefficient = np.sum(dev_x*dev_y) / np.sum(dev_x**2)
coefficient

2.620967741935484

In [9]:
intercept = mean_y - (coefficient * mean_x)
intercept

35.16129032258065

In [10]:
#predicting price for weight 6
predict_y = (coefficient * 6 ) + intercept
predict_y

50.88709677419355

# Using Sklearn

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
reg = LinearRegression()

In [13]:
reg.fit(df[['weight']], y)

LinearRegression()

In [14]:
df['predicted_price'] = reg.predict(df[['weight']])

In [15]:
df.head()

   weight  price  predicted_price
0       2     35        40.403226
1       4     60        45.645161
2       5     20        48.266129
3       3     50        43.024194
4       6     50        50.887097

In [16]:
df['residual'] = df['price'] - df['predicted_price']

In [17]:
df.head(7)

   weight  price  predicted_price   residual
0       2     35        40.403226  -5.403226
1       4     60        45.645161  14.354839
2       5     20        48.266129 -28.266129
3       3     50        43.024194   6.975806
4       6     50        50.887097  -0.887097
5       5     55        48.266129   6.733871
6       7     60        53.508065   6.491935

## MSE

In [18]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(df['price'], df['predicted_price'])

In [19]:
mse

167.30990783410135

## MAE

In [20]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(df['price'], df['predicted_price'])

In [21]:
mae

9.87327188940092

In [22]:
#Creating an excel file for the given dataset using python

df.to_excel("products_data.xlsx", index=False)
print("\nExcel file 'products_data.xlsx' has been generated.")

Excel file 'products_data.xlsx' has been generated.